body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  font-family: serif;
  font-size: larger;

  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
}

.hidden {
  display: none;
}
.playerBar {
  padding: 1rem;
  text-align: center;
}
.leftPlayer {
  text-align: center;
  padding: 1rem;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
  width: 6rem;
  height: 8rem;
  display: inline-block;
}

img {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
}
.rightPlayer {
  width: 6rem;
  height: 8rem;
  padding: 1rem;
  text-align: center;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  display: inline-block;
}

.message {
  margin: 2rem;
  padding: 1rem;
  text-align: center;
}
.board {
  min-width: 104px;
  max-width: 95%;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  padding-bottom: 15rem;
}

.item {
  border: solid;
  border-color: rgb(201, 234, 255);

  background-color: whitesmoke;

  width: 1rem;
  height: 1rem;
  float: left;
  text-align: center;
  padding: 1rem;
}

.yellow {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);

  border-radius: 50%;
}
.blue {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

  border-radius: 50%;
}
.black {
  background-color: black;
  border-radius: 50%;
}

.red {
  background-color: red;

  border-radius: 30%;
}

.green {
  background-color: green;

  border-radius: 30%;
}

.portalEffect {
  border-radius: 40%;
  background-color: azure;
}
